.wordcard {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #919191;
  .hidden {
    display: none;
  }
  .show {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    animation: background-color 1s ease-in-out;
    :hover {
    }
  }
  .original {
    font-weight: 600;
    color: #e68c05;
    text-transform: capitalize;
  }
  .translated {
    justify-self: flex-end;

    color: #313131;
    font-weight: 600;
    text-transform: capitalize;
    display: flex;
    align-items: center;
  }
}
