.wordcard {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #919191;

  .original {
    font-weight: 600;
    color: #e68c05;
    text-transform: capitalize;
  }
  .translated {
    color: #313131;
    font-weight: 600;
    text-transform: capitalize;
  }
}
