.wordcard {
  width: 440px;
  position: relative;
  padding: 10px;
  .hidden {
    display: none;
  }
  .show {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    animation: background-color 1s ease-in-out;
  }
  .original {
    font-weight: 600;
    color: #e68c05;
    text-transform: capitalize;
  }
  .translated {
    display: flex;
    justify-content: space-between;
    color: #313131;
    font-weight: 600;
    text-transform: capitalize;
    display: flex;
    align-items: center;
  }
}
