.input-box {
  .input {
    width: 200px;
    background-color: white;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 15px;
    outline: none;
    transition: all 1s;
  }

  .input:focus::placeholder {
    transition: all 0.1s;
    color: #000000;
    font-size: 14px;
  }
  .button {
    margin-left: 20px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #dbdbdb;
    background-color: white;
    &:hover {
      background: #ffb444;
      cursor: pointer;
    }
  }
}
@keyframes textSize1 {
  0% {
    color: gray;
  }
  100% {
    color: #000000;
    text-shadow: -1px -1px 0 #000000;
    text-shadow: 1px -1px 0 #000000;
    text-shadow: -1px 1px 0 #000000;
    text-shadow: 1px 1px 0 #000000;
  }
}
