.menu {
  display: flex;
  flex-direction: column;
  border-right: 1px solid gray;
  transition: all 0.2s;

  .titile-wrapper {
    display: flex;
    border-bottom: 1px solid gray;
    padding: 8px 0;

    button {
      display: block;
      padding: 10px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      .arrow-back {
        width: 24px;
        height: 24px;
      }
    }
  }

  .menu-block {
    margin-top: 8px;
    .item__title {
      display: block;
      font-size: 11px;
      text-transform: uppercase;
      color: #919191;
    }

    .item {
      margin-top: 18px;

      .item-link {
        display: block;
        padding: 8px 0;
        border-radius: 5px;
        color: black;
        text-decoration: none;
        font-size: 24px;
        font-weight: 700;
        user-select: none;

        .item__logo {
          margin-right: 8px;
          width: 24px;
          height: 24px;
          vertical-align: middle;
        }

        &:hover {
          background-color: #ffb444;
        }
      }
    }
  }
}

.open {
  width: 250px;
}
.close {
  width: 100px;
}
